*{
  padding: 0;
  margin:0;
}
/* .one{ */
  /* background-size: cover;
  background: red;
  min-height: 600px;
} */
.three{
  margin-top: 0;
  width: 100%;
  float: left;
  /* margin-left: 15%; */
  min-height: 500px;
  background-color: white;

}
.three-1, .three-2, .three-3{
  width: 25%;
  float: left;
  margin-left: 7%;
}
.b1, .b3, .b5{
  display: block;
}
.b2, .b4, .b6{
  display: none;
}
.c3, .c6, .z2{
  width: 200px;
  height: 200px;
  float: left;
  margin:20px 20px 30px 15px;
  padding: 0;

}
.threee{
  width: 80%;
  float: left;
  margin-left: 10%;
  margin-top: 50px;
}
.three h3{
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  margin-left: -13%;
  text-transform: uppercase;
}
.three-1{
  width:200px;
  height: 300px;
}

.four{
  background:url('assets/backgrounds/c_image.jpg');
  width: 100%;
  float: left;
  /* background-size: cover;
  background-repeat: no-repeat; */
  min-height: 500px;
  color: white;

}
.four h3{
  text-align: center;
  line-height: 80px;
}
.l1{
  background: transparent;
  border: 1px solid white;
  min-width: 250px;
  margin-left: 27%;
  color:white;

  
}
.l2{
  width: 250px;
  margin-left: 20px;
  background: transparent;
  border: 1px solid white;
  color:white;
}
.l3{
  width: 41.5%;
  text-align: center;
  margin-left: 27%;
  float: left;
  margin-top: 20px;
  min-height: 200px;
  background: transparent;
  border: 1px solid white;
  color:white;
}
section{
  min-height: 1410px;
}
.five{
  width: 60%;
  margin-left: 28%; 
}
.five img{
  align-content: center;
  margin-top: 30px;
  margin-left: 5px;
}
.six p{
  width: 100%;
  text-align: center;
  font-size:.9rem;
  margin-top:20px;
}
#z1{
  display: none;
}