*{
  padding: 0;
  margin:0;
}
/* .one{ */
  /* background-size: cover;
  background: red;
  min-height: 600px;
} */
.three{
  margin-top: 0;
  width: 100%;
  float: left;
  /* margin-left: 15%; */
  min-height: 500px;
  background-color: white;

}
.three-1, .three-2, .three-3{
  width: 20%;
  float: left;
  margin-left: 13%;
  height: 20%;
}
.b1, .b3, .b5{
  display: block; 
}
.b2, .b4, .b6{
  display: none;
}
.c3, .c6, .z2{
  width: 200px;
  height: 200px;
  float: left;
  margin:20px 20px 30px 15px;
  padding: 0;

}
.threee{
  width: 80%;
  float: left;
  margin-top: 100px;
  margin-left: 15%;
}
.threee1{
  width: 80%;
  float: left;
  margin-left: 15%;
  margin-top: 50px;
  

}
.three h3{
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  /* margin-left: -10%; */
  text-transform: uppercase;
}

.four{
  background:url('assets/backgrounds/c_image.jpg');
  width: 100%;
  float: left;
  /* background-size: cover;
  background-repeat: no-repeat; */
  min-height: 500px;
  color: white;

}
.four h3{
  text-align: center;
  line-height: 80px;
}
.l1{
  background: transparent;
  border: 1px solid white;
  min-width: 250px;
  margin-left: 27%;
  color:white;

  
}
.l2{
  width: 250px;
  margin-left: 20px;
  background: transparent;
  border: 1px solid white;
  color:white;
}
.l3{
  width: 41.5%;
  text-align: center;
  margin-left: 27%;
  float: left;
  margin-top: 20px;
  min-height: 200px;
  background: transparent;
  border: 1px solid white;
  color:white;
}
section{
  min-height: 1410px;
}
.five{
  width: 60%;
  margin-left: 28%; 
}
.five img{
  align-content: center;
  margin-top: 30px;
  margin-left: 5px;
}
.six p{
  width: 100%;
  text-align: center;
  font-size:.9rem;
  margin-top:20px;
}

.threee-1,.threee-11, .threee-111, .threee-1111, .threee-11111, .threee-111111, .threee-1111111, .threee-11111111{
  position: relative;
  width: 200px;
  height: 230px;
  margin-right: 20px;
  float: left;
  border-left: 20px white;
}
.threee-1 img,.threee-11 img, .threee-111 img, .threee-1111 img, .threee-11111 img, .threee-111111 img, .threee-1111111 img, .threee-11111111 img{
  width: 200px;
  height: 200px;
}
.z3, .z33, .z333, .z3333, .z33333, .z333333,  .z3333333, .z33333333{
  display:absolute;
  display:none;
  background-color:darkolivegreen;
  width: 200px;
  height: 60px;
  margin-top: -60px;
  color:yellow;
  text-align: center;
  font-size:30px;
}
.one{
  background: url('assets/backgrounds/h_img.jpg');
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.one img{
  margin-left: 46%;
  margin-top: 20%;
}
.one1{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  /* line-height: 30px; */
  line-height: 40px;

}
.nickson{
  font-size: 30px;
}
.two1{
  text-align:center ;
  line-height: 35px;
  margin-top: 50px;
  margin-bottom: 50px;


}
.two2{
   background: url('assets/backgrounds/s_image.jpg');
   height:300px;
   background-size: cover;
   background-repeat: no-repeat;
   text-align:center;
   line-height: 30px;
   color: white;
   /* margin-top:70px ; */
}
.two2 h2{
align-content: center;
}
.margin{
  height: 70px;
}